In [1]:
import pandas as pd

In [12]:
colour= pd.Series(["red","blue","yellow"])

In [13]:
cars=pd.Series(["BMW","Benz","Audi"])

In [10]:
# series is one dimensional
# dataframe is 2- dimensional
#dataframe takes a dictionary

In [14]:
cars

0     BMW
1    Benz
2    Audi
dtype: object

In [15]:
series]

0       red
1      blue
2    yellow
dtype: object

In [33]:
car_data= pd.DataFrame({"car make": cars, "colour":colour}) 
car_data

  car make  colour
0      BMW     red
1     Benz    blue
2     Audi  yellow